
/* Body */
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	background-color: #777;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 200;
	margin: 0;
}

input {
	border: none;
}

.padding-0 {
	padding: 0!important;
}

.margin-0 {
	margin: 0!important;
}

.margin-top-10 {
	margin-top: 10px!important;
}

.margin-top-30 {
	margin-top: 30px!important;
}

/*********** Colors ***********/

.bg-purple {
	background-color: #8b7297;
}

.text-purple {
	color: #7a2ca2;
}

.text-coral {
	color: #fc7e50;
}

.text-brown {
	color: #a52a2a;
}

.text-darkgray {
	color: #666;
}

.text-gray {
	color: #aaa;
}

.text-black {
	color: #141414;
}


/*********** Font sizes & align ***********/
.text-12 {
	font-size: 12px;
}

.text-13 {
	font-size: 13px;
}

.text-14 {
	font-size: 14px;
}

.text-16 {
	font-size: 16px;
}

.text-18 {
	font-size: 18px;
}

.text-right {
	text-align: end;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

/*********** Buttons ***********/
.button {
	text-decoration: none;
	background-color: #eee;
	color: #fff;
	border: none;
	padding: 12px 30px;
	margin-right: 30px;
	font-size: 13px;
	/*border-radius: 4px;*/
}

.button-primary {
	background-color: #e0e0e0;
	color: #141414;
}

.button-info {
	background-color: #539987;
}

.button-complete {
	background-color: #7a2ca2;
}

.button-secondary {
	background-color: #757575;
}

.underline {
    width: 5rem;
    height: 5px;
    background: #7a2ca2;
    display: inline-block;
    margin: 20px 0;
}

.line {
    width: 85%;
    height: 1.5px;
    background: #7a2ca2;
    display: inline-block;
    margin-bottom: 10px;
}

.uppercase {
	text-transform: uppercase;
}

.job-title {
	text-transform: uppercase;
	/*font-style: italic;*/
	font-weight: 600;
}

.item {
	margin-bottom: 20px;
}

.item p {
	margin: 0;
}
/***************************************************************/

#grid-container {
	display: grid;
	/*height: 100vh;*/
	grid-template-columns: 1fr 1.8fr;
	grid-template-rows: .1fr;
	grid-template-areas: 
		"header header"
		"photo name"
		"contact experience"
		"interests experience"
		"languages experience"
		"skills education"
		"skills personal";
}

.content-item {
	padding: 25px 70px;
	font-size: 15px;
	/*border: 1px solid green; */
}

.content-item h5 {
	font-size: 30px;
}

/*Navigation*/
#navbar {
	background-color: #493155;
	height: 3.5rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    margin:0 ;
    height: 35px;
    padding: 0;
     
}
#navbar ul li {
    /*width: 100%;*/
    /*cursor: pointer;*/
    padding: 7px 15px;
    /*transition: .5s;*/
    list-style-type: none;
    height: 100%;
    /*text-align: center;*/
    /*padding-top: 40px;*/
}   

#navbar ul li a {
    color:#fff;
    text-transform: uppercase;
}

#navbar ul li:hover a {
    color:#fff;
}

/* Header */
header {
	background-color: #493155;
	grid-area: header;
	text-align: center;
	/*padding: 20px;
	font-size: 35px;
	color: white;*/
}

#photo {
	background-color: #ddd;
	grid-area: photo;
}

#photo .block-img {
	text-align: center;
}

#photo img {
	width: 85%;
	border-radius: 50%;
	border: 3px solid #7a2ca2;
}

#name {
	background-color: #fff;
	grid-area: name;
	text-align: left;
}

#name h2 {
	font-size: 50px;
}

#name h4 {
	font-size: 26px;
}

#contact {
	background-color: #ddd;
	grid-area: contact;
}

#contact ul li {
	padding: 5px 0;
	font-weight: 400;
}

#contact ul li i {
	font-size: 1.5em;
	padding-right: 10px;
}

#contact ul li:last-child i {
	font-size: 1.9em;
}

#experience {
	background-color: #fff;
	grid-area: experience;
}

#skills {
	background-color: #ddd;
	grid-area: skills;
}

#skills .slidecontainer {
	font-weight: 600;
}

#skills .slidecontainer .subtitle {
	font-size: 16px;
	font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#skills .slidecontainer p {
	margin-bottom: -6px;
    margin-top: 8px;
}

#skills .slidecontainer input {
	width: 100%;
}

#skills .slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #8b7297;
	outline: none;
	/*opacity: 0.7;*/
	-webkit-transition: .2s;
	transition: opacity .2s;
}

#skills .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #fc7e50;
}

#skills .slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: #fc7e50;
}

#frameworks .slider {
	background: #a99ab0;
}

#frameworks .slider::-webkit-slider-thumb {
	background: #a74a4a;
}

#frameworks .slider::-moz-range-thumb {
	background: #a74a4a;
}

#graphics .slider {
	background: #bbb;
}

#graphics .slider::-webkit-slider-thumb {
	background: #7a2ca2;
}

#graphics .slider::-moz-range-thumb {
	background: #8b7297;
}

#education {
	background-color: #fff;
	grid-area: education;
}

#languages {
	background-color: #ddd;
	grid-area: languages;
}

#interests {
	background-color: #ddd;
	grid-area: interests;
}

#personal {
	background-color: #fff;
	grid-area: personal;
}

/*Footer*/
footer {
	background-color: #493155;
	padding: 30px;
	color: #fff;
}

ul.footer-links {
	width: 80%;
	margin: auto; 
	display: flex;
	justify-content: space-between;
}

ul.footer-links li a {
	color: #fff;
}

/*Responsive*/
@media only screen and (max-width: 550px) {
	#grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: .2fr;
		padding: 0;
		grid-template-areas: 
			"header"
			"photo"
			"name"
			"experience"
			"skills"
			"education"
			"languages"
			"personal"
			"interests"
			"contact";
	}
		
	.content-item {
		padding: 40px 35px;
	}

	#photo .block-img {
		width: 80%;
    	margin: auto;
	}

	ul.footer-links {
		display: block;
	}

	ul.footer-links li {
		text-align: center;
	}
}